@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: SCDream3;
  font-style: normal;
  src: url(../img/SCDream3.otf) format("truetype");
}

body, html, ul, li, div, p, a, input, button, h1, h2, h3 {
  font-family: 'Noto Sans KR', 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background-color: #e9e9e9;
  width: 100%;
  height: 100vh;
}

.bg_fix {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://blackstrawberry.github.io/DSCAPP/img/map.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

.bg_fix.toggle {
  width: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.bg_fix::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#mynetwork {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header {
  position: relative;
  z-index: 999;
}

.head {
  position: fixed;
  top: 0;
  right: -20%;
  width: 20%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.head.toggle {
  -webkit-transition: .5s;
  transition: .5s;
  right: 0%;
}

.head .serch {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
}

.head .serch img {
  width: 15px;
  height: 15px;
}

.head .serch .serch_area {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.head .serch button {
  width: 100px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  color: #222;
  text-align: right;
}

.head .serch input {
  width: 100vh;
  background-color: #fff;
  border: none;
  font-size: 15px;
  color: #222;
  font-weight: 300;
  text-align: left;
  padding-left: 20px;
}

.head .serch input:focus {
  outline: none;
}

.head .serch p:hover {
  color: #222;
  -webkit-transition: .5s;
  transition: .5s;
}

.head nav {
  border-right: 1px solid #222;
}

.head nav .burger {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(-80%, -50%) rotate(90deg);
          transform: translate(-80%, -50%) rotate(90deg);
  background: #fff;
  padding: 15px 10px 10px 10px;
  border-radius: 10px;
}

.head nav .burger div {
  background-color: #000;
  width: 24px;
  height: 1px;
  margin: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.head .toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.head .toggle .line2 {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.head .toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(3px, -4px);
          transform: rotate(-45deg) translate(3px, -4px);
}

#content_null {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #fff;
}

#content_null.active {
  display: block;
}

.contents {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  position: relative;
}

.contents h1 {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0 5px;
  color: #ff5234;
}

.contents h3 {
  font-size: 18px;
}

.contents .place h2 {
  font-size: 15px;
  color: #a6a6a6;
  font-weight: 400;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contents .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contents .child1, .contents .child2, .contents .child3 {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 300;
  background-color: #ff5234;
  color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.contents img {
  width: 100%;
  height: 250px;
}

.contents .place {
  border-radius: 10px;
  padding-bottom: 20px;
}

.contents .place p {
  font-size: 13px;
  font-weight: 400;
}

.contents .place ul {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .place ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .place ul li img {
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.contents .place ul li span {
  font-size: 15px;
  padding: 0 5px;
}

.contents .info {
  padding-bottom: 100px;
}

.contents .info .first {
  display: none;
}

.contents .info ul {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .info ul li img {
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.contents .info ul li span {
  font-size: 15px;
  padding: 0 5px;
}

.contents .info div {
  margin-bottom: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contents .info div h3 {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  color: #ff5234;
}

.contents .info div p {
  font-size: 13px;
  padding: 5px 10px 15px;
}

.contents .info_1 ul {
  padding: 8px;
}

.contents .info_2 ul {
  padding: 8px;
}

.contents .info_3 ul {
  padding: 8px;
}

::-webkit-scrollbar {
  display: none;
}

.modal-button {
  position: fixed;
  z-index: 999;
  bottom: 25px;
  right: 25px;
  border: none;
  background-color: #ff5234;
  border-radius: 4px;
  padding: 3px 10px 5px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-button::before {
  position: relative;
  z-index: 0;
  content: '리뷰 작성하기 +';
  font-size: 15px;
  color: #fff;
}

#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  height: 500px;
  position: relative;
  top: -100px;
  padding: 10px;
}

#modal .title {
  padding-left: 10px;
  display: inline;
  color: #000;
}

#modal .title h2 {
  display: inline;
  font-size: 20px;
  font-weight: 500;
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  color: #000;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  color: #000;
}

.modal-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form p input, .modal-form p select {
  margin-top: 5px;
}

.modal-form p .modal-review {
  padding: 5px 0 70px 5px;
}

#modal button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  background-color: #ff5234;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=common.css.map */